# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environments
.env
.venv/
venv/
ENV/

# Pytest
.coverage
.tox
.pytest_cache/

# Migrations
**/migrations/*

# Static files
staticfiles/
